@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}
html {
    scroll-behavior: smooth;
}

.sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.1 ease-in-out;
}

/* typography */
.prose {
    p {
        @apply dark:text-gray-300;
    }
    a:hover {
        @apply underline;
    }

    a {
        @apply text-crimson no-underline;
    }

    blockquote {
        @apply border-l dark:border-gray-500 dark:text-gray-300;
    }

    h2,
    h3,
    h4 {
        @apply dark:text-gray-50;
        scroll-margin-top: 8rem;
    }

    hr {
        @apply dark:border-gray-300;
    }

    ol li:before {
        @apply dark:text-gray-400;
    }

    ol li {
        @apply dark:text-gray-300;
    }

    ul li {
        @apply dark:text-gray-300;
    }

    ul li:before {
        @apply dark:bg-gray-300;
    }

    strong {
        @apply dark:text-gray-50;
    }

    thead {
        @apply dark:text-gray-300;
    }

    tbody tr {
        @apply border-b dark:border-gray-300 text-gray-300;
    }

    pre {
        @apply bg-gray-50 border border-gray-400 dark:border-gray-300 dark:bg-gray-400;
    }

    code {
        @apply text-gray-900 dark:text-gray-400 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-800;
    }
}

/* end pyphography */

/* code highlight */

code[class*='language-'],
pre[class*='language-'] {
    @apply text-gray-50 text-left whitespace-pre leading-normal;
}

/* Code blocks */
pre[class*='language-'] {
    @apply p-4 m-1 overflow-auto rounded-md;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    @apply bg-gray-800 dark:bg-gray-800;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    @apply whitespace-normal rounded p-1;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-gray-600;
}

.token.punctuation {
    @apply text-blue-50;
}

.token.namespace {
    @apply opacity-70;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-red-400;
}

.token.boolean,
.token.number {
    @apply text-purple-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-green-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    @apply text-yellow-50;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    @apply text-yellow-400;
}

.token.keyword {
    @apply text-blue-400;
}

.token.regex,
.token.important {
    @apply text-yellow-500;
}

.token.important,
.token.bold {
    @apply font-bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    @apply cursor-help;
}

/* end code highlight */

.prose table {
    @apply w-full text-left my-2 text-sm leading-relaxed overflow-x-auto;
}

/* fab navigation */
.nav {
    &.nav-active li {
        @apply opacity-100;
    }

    li {
        @apply inline-block absolute w-10 h-10 text-center rounded-full bottom-2 mx-2 bg-black px-2.5 py-2 opacity-0;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    li:nth-child(1) {
        right: 0px;
        bottom: 70px;
    }

    li:nth-child(2) {
        right: 50px;
        bottom: 60px;
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    li:nth-child(3) {
        right: 60px;
        bottom: 10px;
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
}
/* end fab navigation*/
